IHMSoap/Service References/SerSalarie/ServiceSalarie1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesDonnees" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesDonnees" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Salarie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deptno" type="xs:int" />
      <xs:element minOccurs="0" name="Dname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empno" type="xs:int" />
      <xs:element minOccurs="0" name="Ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salarie" nillable="true" type="tns:Salarie" />
  <xs:complexType name="ArrayOfSalarie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salarie" nillable="true" type="tns:Salarie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalarie" nillable="true" type="tns:ArrayOfSalarie" />
</xs:schema>