IHMSoap/Service References/SerSalarie/ServiceSalarie2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16223/ServiceSalarie.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesDonnees" />
  <xs:element name="GetEmpById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesDonnees" minOccurs="0" name="GetEmpByIdResult" nillable="true" type="q1:Salarie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesDonnees" minOccurs="0" name="GetEmpsResult" nillable="true" type="q2:ArrayOfSalarie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpsByDeptno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpsByDeptnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesDonnees" minOccurs="0" name="GetEmpsByDeptnoResult" nillable="true" type="q3:ArrayOfSalarie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>