IHMSoap/Service References/SerSalarie/ServiceSalarie.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSalarie" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16223/ServiceSalarie.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16223/ServiceSalarie.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16223/ServiceSalarie.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesDonnees" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalaries_GetEmpById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpById" />
  </wsdl:message>
  <wsdl:message name="ISalaries_GetEmpById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaries_GetEmps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmps" />
  </wsdl:message>
  <wsdl:message name="ISalaries_GetEmps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaries_GetEmpsByDeptno_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpsByDeptno" />
  </wsdl:message>
  <wsdl:message name="ISalaries_GetEmpsByDeptno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpsByDeptnoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalaries">
    <wsdl:operation name="GetEmpById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaries/GetEmpById" message="tns:ISalaries_GetEmpById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaries/GetEmpByIdResponse" message="tns:ISalaries_GetEmpById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmps">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaries/GetEmps" message="tns:ISalaries_GetEmps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaries/GetEmpsResponse" message="tns:ISalaries_GetEmps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpsByDeptno">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaries/GetEmpsByDeptno" message="tns:ISalaries_GetEmpsByDeptno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaries/GetEmpsByDeptnoResponse" message="tns:ISalaries_GetEmpsByDeptno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalaries" type="tns:ISalaries">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmpById">
      <soap:operation soapAction="http://tempuri.org/ISalaries/GetEmpById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmps">
      <soap:operation soapAction="http://tempuri.org/ISalaries/GetEmps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpsByDeptno">
      <soap:operation soapAction="http://tempuri.org/ISalaries/GetEmpsByDeptno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSalarie">
    <wsdl:port name="BasicHttpBinding_ISalaries" binding="tns:BasicHttpBinding_ISalaries">
      <soap:address location="http://localhost:16223/ServiceSalarie.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>